VITE_API_URL=http://localhost:5000/api

# Add your full public profile URLs to activate the footer social links.
VITE_INSTAGRAM_URL=https://www.instagram.com/giftaimers?utm_source=ig_web_button_share_sheet&stkn=ZDNlZDc0MzIxNw==
VITE_FACEBOOK_URL=
